<%- include( '../partials/header') %>
<div>
    <ol>
        <% top50.forEach(function(song) { %>
            <li><%- `Number: ${song.rank} ${song.title}` %></li>
        <% }); %>
        })
    </ol>
</div>
<%- include( '../partials/footer') %>